* {
    box-sizing: border-box !important;
}

body {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/refugeproject-90082.appspot.com/o/SelectLang.jpg?alt=media&token=b4394063-819b-4f04-b2b3-9faa58eb65e8');
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


/*****
MAP STYLES
*****/
.map {
    height: 300px;
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}

/*****
MATERIAL ICONS
*****/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }